[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"
rope = "*"
pytest = "*"
black = "*"

[requires]
python_version = "3.10"

[packages]
pytz = "*"
selenium = "*"
websockets = "*"
celery = "*"

[pipenv]
allow_prereleases = true
